<div class="bg">
  <mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>Client Signup</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <mat-form-field>
          <input matInput type="text" placeholder="Name" formControlName="name" id="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Last Name" formControlName="lastname" id="lastname">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Email" formControlName="email" id="email">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" id="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" formControlName="checkPassword" id="checkPassword">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Phone" formControlName="phone" id="phone">
        </mat-form-field>
        <button mat-flat-button color="primary">Register</button>
        <a routerLink="/login">Login now!</a>
      </form>
    </mat-card-content>
</mat-card>
</div>

